#home-carousel {
  margin: 0;
  
  .highlight-form {
    margin: 45px auto;
  }
  
  .carousel-context {
    margin: 0;
  }
  
  .carousel-indicators {
    > li {
      border-width: 2px;
      
      &.active {
        $color: lighten($brand-primary, 5%);
        
        background-color: $color !important;
        border-color: $color;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    .item-img {
      background-position: center left 60%;
    }
  }
  @media (min-width: $screen-md-min) {
    .item-img {
      height: 450px;
    }
  }
  @media (min-width: $screen-lg-min) {
    .item-img {
      height: 650px;
    }
    
    .highlight-form {
      position: absolute;
      z-index: 100;
    }
  }
}
