@import "lib/bootstrap-sass/bootstrap/variables";

#conceptual-module{
  .conceptual-background{
    height: 200px;
    position: relative;
  }
  
  .title{
    background-color: transparent;
    display: table;
    height: 100%;
    padding: 15px;
    width: 100%;
  }
  
  h1{
    color: #fff;
    display: table-cell;
    font-weight: 700;
    font-size: 2.6em;
    margin-top: 0px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }
}

@media (min-width: $screen-xs-min) {
  
  #conceptual-module{
    h1{
      text-align: center;
    }
  }
  
}

@media (min-width: $screen-sm-min) {

  #conceptual-module{
    .conceptual-background{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      position: relative;
    }
  
    .title{
      display: block;
      position: absolute;
      /* width: 280px; */
      width: 50%;
    }

    h1{
      background-color: transparent;
      display: block;
      font-size: 3.143em;
      margin-top: 85px;
      padding: 15px;
      text-align: left;
      /* width: 310px; */
      width: 100%;
    }
  }
  
}

@media (min-width: $screen-md-min){
  
  #conceptual-module{
    .title{
      width: 58%;
    }
    h1{
      margin-top: 95px;
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #conceptual-module{
    .title{
      width: 50%;
    }
  }
  
}