.highlights-module{
  text-transform: uppercase;
  color: #fff;

  .high-item{
    background-color: #fff;
    height: 302px;
    padding: 15px;
    position: relative;
  }
  
  h2{
    padding-left: 5px;
    padding-right: 5px;
    background: rgba($brand-primary, 0.6);
    font-size: 1.929em;
    font-weight: 700;
    margin: 0 0 10px 0;
  }
  
  p{
    background: rgba($brand-primary, 0.6);
    padding: 5px 10px;
  }
  
  a{
    bottom: 20px;
    margin: 40px 0 0 0;
    padding: 10px 30px;
    position: absolute;
  }
  
}