h2{
  font-size: 1.4em;
  font-weight: 700;
  margin: 35px 0 20px;
  padding: 15px 0 0;
  position: relative;
  text-transform: uppercase;
  &:before{
    background: $brand-primary;
    content: ' ';
    height: 3px;
    position: absolute;
    top: 0;
    width: 25px;
  }
}

p{
  color: #4c4c4c;
  margin: 10px 0 20px;
}

.c-b{
  clear: both;
}