#header-module {
  
  // Barra de contatos
  $contacts-bar-line-height: 53px;

  .navbar-contacts {
    background-color: $gray-light;
    color: $gray-darker;
    line-height: $contacts-bar-line-height;
    i {
      font-size: 1.5em;
    }
    
    .fa-map-marker {
      padding-right: 20px;
      color: $brand-primary;
    }
  }

  $btn-location-width: 124px;
  
  .btn-location {
    background-color: transparent;
    border: 0;
    font-size: 0.85em;
    padding-top: $contacts-bar-line-height / 4;
    padding-bottom: $contacts-bar-line-height / 4;
    line-height: $contacts-bar-line-height / 4;
    float: right;
    text-align: left;
    width: $btn-location-width;

    b {
      text-transform: uppercase;
      font-size: 1.15em;
    }

    i {
      margin-top: -10px;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  .location-select {
    width: $btn-location-width;
    line-height: $contacts-bar-line-height;
    text-transform: uppercase;
    font-size: 0.85em;

    .active {
      text-decoration: underline;
    }

    a {
      color: inherit;
      width: $btn-location-width;
    }
  }

  .contacts {
    background-color: lighten($gray-light, 3%);
    
    // remove espacamento da coluna pai para preencher largura total em mobile
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;

    min-height: $contacts-bar-line-height;
    text-align: center;
    line-height: $contacts-bar-line-height / 4;

    padding-top: $contacts-bar-line-height / 4;
    padding-bottom: $contacts-bar-line-height / 4;

    li {
      font-size: 0.875em;
      text-transform: uppercase;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      span:first-child {
        display: inherit;
      }

      span:nth-of-type(2) {
        display: none;
      }
    }

    .phone {
      font-weight: bold;
      color: $brand-primary;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .social-list {
    line-height: ($contacts-bar-line-height / 5) * 3;
    padding-top: $contacts-bar-line-height / 5;
    padding-bottom: $contacts-bar-line-height / 5;
    color: $gray-light;
    float: left;
    font-size: 0.65em;

    position: absolute;
    top: $contacts-bar-line-height * 1.15;
    
    .circle {
      height: 30px;
      width: 30px;
      background-color: $brand-primary;
      text-align: center;
      border-radius: 100%;
      padding: 2px 0;
    }
    
    li:hover i{
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -o-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      transform: rotateY(360deg);
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      -ms-transition: all .5s linear;
      transition: all .5s linear;
    }
    
    a {
      color: inherit;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    .social-list {
      position: static;
    }
    
    .navbar-contacts {
      line-height: $contacts-bar-line-height;
    }

    $btn-location-width-desktop: 180px;
    
    .btn-location {
      margin-top: auto;
      width: $btn-location-width-desktop;
    }

    .location-select {
      min-width: $btn-location-width-desktop;
      line-height: inherit;
    }

    .contacts li {
      text-align: right;
      
      &:not(:last-child) {
        margin-right: 10px;
      }

      @media (min-width: $screen-md-min) {
        span:first-child {
          display: none;
        }

        span:nth-of-type(2) {
          display: inherit;
        }
      }
    }
  }
}
