#newsletter-module{
  h2{
    color: #202020;
    font-size: 2.3em;
    font-weight: 700;
    text-transform: uppercase;
    &:before{
      background: $brand-primary;
      content: ' ';
      height: 3px;
      position: absolute;
      top: 0;
      width: 25px;
    }
    small{
      color: #000;
      display: block;
      font-size: 0.5em;
      margin: 4px 0 0 0;
    }
  }
  button{
    padding: 10px 15px;
    width: 100%;
    i{
      float: right;
      line-height: 15px;
    }
  }
}

@media (min-width: $screen-lg-min){
  
  #newsletter-module{
    h2{
      margin: 5px 0 0 0;
    }
    
    button{
      padding: 10px 15px;
    }
    
  }
  
}