@import "lib/bootstrap-sass/bootstrap/variables";

#our-stores-module{
  img{
    width: 100%;
  }
  .store-module{
    font-weight: 700;
    text-transform: uppercase;
    h3{
      color: $brand-primary;
      font-size: 0.95em;
      font-weight: 700;
      margin: 20px 0 3px 0;
      text-transform: uppercase;
    }
    p{
      font-size: 0.95em;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    div{
      font-size: 0.95em;
      font-weight: 400;
      margin: 10px 0;
    }
  }
}

@media (min-width: $screen-sm-min){
  #our-stores-module{
    .wrap-img{
      height: 245px;
    }

    img{
      height: 100%;
    }
    
    .store-module{
      height: 600px;
      p{
        height: 60px;
      }
    }
  }
}