#acessories-form-module{
  .acessories-form{
    
    textarea{
      height: 84px;
      resize: none;
    }
    
    button{
      margin: 20px 0;
      padding: 15px;
      width: 100%;
      i{
        float: right;
        line-height: 15px;
      }
    }
    
  }
}