#promo-carousel-module{
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px 0 60px;
  background-color: $gray-light;
  
  .btn-see-more {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 0.75em;
    float: right;
    width: 125px;
    display: block;
    border-radius: $border-radius-base;
    border: 1px solid $gray-light;
    color: $gray;
    
    i {
      float: right;
    }
  }
  
  h2{
    float: left;
    text-transform: uppercase;
    color: $gray-darker;
    font-size: 1.929em;
    font-weight: 700;
    margin: 0 0 40px 0;
    position: relative;
    
    &::before {
      content: '';
      width: 28px;
      height: 2px;
      background-color: $brand-primary;
      top: -10px;
      display: block;
      position: absolute;
    }
  }
  
  .slick{
    margin: 0;
  }
  
  .promo-car{
    img{
      width: 100%;
      
    }
    
    &:hover, &:focus {
      outline: none;
    }
    
    &:hover a, &:focus a{
      background: $brand-primary;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -ms-transition: all .4s linear;
      -o-transition: all .4s linear;
      transition: all .4s linear;
    }
  }
  
  .promo-info{
    background-color: #fff;
    padding: 15px 20px 30px 20px;
    text-align: center;
    border: 1px solid $gray-light;
    
    .promo-car-name {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.25em;
    }
    
    span{
      color: #848484;
      font-size: 0.786em;
    }
    
    p{
      color: #202020;
      font-weight: 700;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    
    b{
      color: $brand-primary;
      font-weight: 700;
      font-size: 1.25em;
      margin-bottom: 20px;
    }
  }
  
  .btn-default {
    margin-top: 18px;
    padding: 18px;
    width: 100%;
    background-color: #a9a9a9;
    
    i {
      float: right;
    }
  }
}

@media (min-width: $screen-md-min){
  
  #promo-carousel-module{
    padding: 40px 0 225px;
    margin-bottom: -200px;
    
    
  }
  
}