.car-info {
  .nav-tabs, .nav-pills {
    border-color: transparent;
    
    > li {
      margin-right: 5px;

      a {
        color: #000 !important;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 13px !important;
        padding-bottom: 18px !important;
        border-top-width: 5px !important;
        border-top-style: solid !important;
      }

      &:not(.active) > a {
        border-top-width: 5px !important;
        border-top-color: transparent!important;
        background-color: #f9f9f9 !important;
        color: #bbbbb4 !important;
      }

      &.active > a {
        color: #fff !important;
        border-color: $brand-primary !important;
        background-color: $brand-primary !important;
        border-top-width: 5px !important;
        border-top-color: $brand-primary !important;
      }
    }
  }

  .tab-pane, .tab-content {
    padding: 30px 16px;
    background-color: #f9f9f9;

    dt {
      float: left;
    }

    dd {
      font-weight: bold;
      
      @media (max-width: $screen-md-max) {
        text-align: right;
      }
    }
  }

  .tab-content {
    border-top: 8px solid $brand-primary !important;
  }
}
