.nav-tabs, .nav-pills {
  border: 0;
  
  > li {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #999999;

    > a {
      border-color: transparent !important;
      border-radius: 0 !important;
      border-style: solid;
//      border-width: 1px 1px 1px 0px !important;
      border-width: 1px !important;
      margin: 0;
      min-width: 200px;
    }

    &:first-child a {
      border-left-width: 1px !important;
    }

    :not(.active) {
      background-color: #fff !important;
      border-color: transparent !important;
//      border-color: $gray-light !important;
    }
    
    &.active > a {
      border-color: transparent !important;
      background-color: #fff !important;
      color: $brand-primary !important;
    }
  }
}

// Para abas encostadas nao repetirem borda
.nav-tabs > li {
  > a {
    border-width: 1px 1px 1px 0px !important;
  }
  
  &:first-child {
    border-left-width: 1px !important;
  }
}


.nav-pills > li {
  margin: 0 !important;
  
  > a {
    border-width: 1px 1px 0px 1px !important;
  }

  &:last-child {
    border-bottom-width: 1px !important;
  }
}

p {
  margin-top: 5px;
  padding-top: 12px;
  border-top: 1px dashed $gray-light;
}

.tab-pane, .tab-content {
  background-color: #fff;
}
