<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12">
        <div class="conteudo about-us-info">
          <ul class="nav nav-tabs" role="tablist">
            {% set tabs = ['Sobre a Eurovia', 'História', 'Projetos sociais'] %}
            {% for tab in tabs %}
            <li role="presentation" {% if loop.first %}class="active"{% endif %}>
              <a href="#about-us-{{ loop.index }}" role="tab" data-toggle="tab">
                {{ tab }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <div class="tab-content">
            {% for tab in tabs %}
            <div role="tabpanel" class="container tab-pane{% if loop.first %} active{% endif %}" id="about-us-{{ loop.index }}">
              <p>id da aba:{{ loop.index }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor ultricies nunc, vel congue urna. Cras nunc nulla, laoreet quis magna sed, venenatis vulputate lorem. Etiam consectetur vehicula justo, vitae elementum lacus cursus a. Aenean risus orci, iaculis eu tempus auctor, porttitor vitae libero. Aliquam et efficitur odio. Fusce faucibus vel sem vel vehicula. Aenean ut ultricies est. Aenean fermentum tortor eget maximus condimentum. Nullam id sagittis dolor, a fringilla tortor.</p>
            </div>
            {% endfor %}
          </div>
          
          {#
          <h2>Evolução Eurovia</h2>
          <!-- Linha do tempo -->
          #}
        </div>
      </div>
    </div>
  </div>
</div>