<section class="car-carousel">
 <div class="indicator"></div>
 
  <div class="tab-content">
    <div role="tabpanel" class="container tab-pane active">
      <ul class="slick-car">
        {% for carro in carros %}
        <li>{% include 'car.html' %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
