<!--
<div class="car">
  <h2>{{ carro.name }}</h2>
  <span>Quanto mais ágil, melhor</span>
  <figure>
    <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
  </figure>
  <a href="" class="btn btn-default">Conheça <i class="fa fa-chevron-right"></i></a>
</div>-->
<div class="car">
  <a href="">
    <figure>
      <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
      <figcaption>{{ carro.name }}</figcaption>
    </figure>
  </a>
</div>