<div id="cars-list-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% for carro in carros %}
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {% include 'car-2.html' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>