<div id="consortium-form-module">
  <div class="">
    <div class="consortium-form row">
      <div class="col-xs-12">
        <h2>
          Solicite Agora uma Cotação
        </h2>
      </div>
      <form action="">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="name" id="name" type="text" placeholder="Nome" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="phone" id="phone" type="text" placeholder="Telefone" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <select name="unidade" id="unidade" class="form-control">
              <option value="">Loja</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <select name="model" id="model" class="form-control">
              <option value="">Modelo</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
          <textarea name="message" id="message" placeholder="Mensagem" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-3 col-lg-2 pull-right">
          <button class="btn btn-default" type="submit">Solicite Agora <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
      
    </div>
  </div>
</div>