<div id="contact-form-module">
  <div class="">
    <div class="contact-form row">
      <div class="col-xs-12">
        <h2>Entre em Contato</h2>
      </div>
      <form action="">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="nome" id="name" type="text" placeholder="Nome" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="telefone" id="phone" type="text" placeholder="Telefone" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <select name="unidade" id="unidade" class="form-control">
              <option value="">Loja</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="assunto" id="assunto" type="text" placeholder="Assunto" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
          <textarea name="mensagem" id="message" cols="30" rows="5" placeholder="Mensagem" class="form-control"></textarea>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-3 col-lg-2 pull-right">
          <button class="btn btn-default" type="submit">Enviar <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
      
    </div>
  </div>
</div>