<div id="contact-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12">
        {% include 'contact-form.html' %}
      </div>
      <div class="col-xs-12">
        {% include 'our-stores.html' %}
      </div>
    </div>
  </div>
</div>