<div id="juridica" class="tab-pane fade in active">
  <h3>Venda Direta Pessoa Jurídica</h3>
  <h4>Frotista</h4>
  <p>Pessoa jurídica com frota mínima de 4 veículos de qualquer marca.</p>
  <h4>Empresa</h4>
  <p>Pessoa jurídica que adquire o veículo para sua atividade como locadora de veículos. (Sem comprovação de frota).</p>
  <h4>Locadora</h4>
  <p>Pessoa jurídica que adquire o veículo para sua atividade como locadora de veículos. (Sem comprovação de frota).</p>
  <h4>Produtor Agropecuário</h4>
  <p>Pessoa jurídica que comprove ser produtor agropecuário através da inscrição estadual ativa ou documento que comprove atividade rural.<br>Atendimento às necessidades específicas e projetos personalizados, para você fechar grandes negócios. Para mais informações entre em contato com um distribuidor Ford!
  </p>
</div>
<div id="fisica" class="tab-pane fade">
  <h3>Conteúdo Fictício</h3>
  <h4>Teste</h4>
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>