<div class="gallery-carousel">
  <h2>Galeria de Imagens</h2>
  
  <ul class="slick-new-gallery">
    {% for i in 0..7 %}
    <li>
      <img src="assets/images/ford-focus.png" alt="Ford Focus" class="img-responsive" data-toggle="modal" data-target=".gallery-modal">
    </li>
    {% endfor %}
  </ul>
  
  <div class="modal fade gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="container">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>