<div id="newsletter-module" class="container">
  <div class="newsletter">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <h2>Novidades e Promoções
          <small>Diretamente no seu e-mail</small>
        </h2>
      </div>
      <div class="col-lg-7">
        
      <form role="form">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <input name="nome" type="text" placeholder="Nome" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <input name="email" type="email" placeholder="E-mail" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <button class="btn btn-default" type="submit">Cadastre-se Já <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>