<div id="our-stores-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Nossas Lojas</h2>
      </div>
      {% for loja in lojas %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% include 'store.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>