<div class="parts-schedule-module">
  <div class="col-xs-12 col-lg-6">
    <h3>Peças Eurovia</h3>
    <span>Segunda a sexta - 8h às 18h</span>
    <span>Sábado - 8h às 14h</span>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h3>Contato</h3>
    <ul>
      <li>Afogados (81) 3225-8383</li>
      <li>Iguatemi (81) 3225-8383</li>
      <li>Imbiribeira (81) 3225-8383</li>
      <li>Lauro de Freitas (81) 3225-8383</li>
    </ul>
  </div>
</div>