<div id="parts-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'parts-acessories-form.html' %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          {% include 'parts-schedule.html' %}
        </div>
      </div>
    </div>
  </div>
</div>