<div id="promo-carousel-module">
  <div class="container">
    <div class="col-xs-12">
      <h2>Ofertas Especiais</h2>
      <a href="" class="btn btn-see-more">Ver todas <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="slick-promo col-xs-12">
      {% for car in 0..5 %}
      <div class="promo-car col-xs-12">
        <img src="../../src/images/promo-car.png" alt="">
        <div class="promo-info">
          <div class="promo-car-name">
            Nissan March<br>
            <span>2012/2102</span>
          </div>
          <p>Preço especial pela internet</p>
          <b>R$ 126.990</b>
          <a class="btn btn-default" href="">Aproveite agora <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>