<div class="promo-car-2-module">
  <div class="">
    <div class="promo-car">
      <img class="img-responsive" src="../../src/images/promo-car-2.png" alt="">
      <h2>Nissan March</h2>
      <b>2013/2013</b>
      <div class="promo-info">
        <div>
          <span>Preço Especial pela internet</span>
          <span class="price">R$ 37.990</span>
        </div>
        <a href="" class="btn btn-default">Aproveite Agora <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>