<form action="" id="quote-form" class="highlight-form">
  <h2 class="form-header">Solicite já a sua cotação!</h2>
  
  <div class="form-group">
    <input placeholder="Nome" class="form-control" id="name" name="nome">
  </div>
  
  <div class="form-group">
    <input placeholder="Telefone" class="form-control" id="phone" name="telefone" type="phone">
  </div>
  
  <div class="form-group">
    <input placeholder="E-mail" class="form-control" id="email" name="email" type="email">
  </div>

  <div class="form-group">
    <select name="uf" class="form-control" id="state">
      <option value="">Estado</option>
    </select>
  </div>

  <div class="form-group">
    <input placeholder="Cidade" class="form-control" id="city" name="cidade">
  </div>
  
  <div class="form-group">
    <select name="modelo" class="form-control" id="model">
      <option value="">Selecione o modelo</option>
    </select>
  </div>
  <div class="form-group">
    <textarea name="mensagem" id="message" class="form-control" placeholder="Mensagem"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Solicitar agora <i class="fa fa-chevron-right"></i></button>
  </div>
</form>
