<div id="schedule-module" class="schedule-granvia container">
  <div class="schedule">
    <div class="row">
      <div class="time col-xs-12 col-sm-6 col-md-3">
        <h2>Agendamento de Serviços</h2>
        <time>
          Segunda a sexta: 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
        <a href="tel:8132258300">(81)&nbsp;3225-8300</a>
      </div>
      <div class="time col-xs-12 col-sm-6 col-md-3">
        <h3>Imbiribeira</h3>
        <h4>Agendamento de Serviços</h4>
        <time>
          Segunda, quarta, quinta e sexta:<wbr> 7:30h&nbsp;às&nbsp;17:30h <br>
          Terça: 8:00h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
        <a href="tel:8130157095">(81)&nbsp;3015-7095</a>
      </div>
      <div class="time col-xs-12 col-sm-6 col-md-3">
        <h3>Caxangá</h3>
        <h4>Agendamento de Serviços</h4>
        <time>
          Segunda a sexta: 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
        <a href="tel:8130156000">(81)&nbsp;3015-6000</a>
      </div>
      <div class="time col-xs-12 col-sm-6 col-md-3">
        <h3>Caxangá</h3>
        <h4>Agendamento de Serviços</h4>
        <time>
          Segunda, quarta, quinta e sexta: 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
        <a href="tel:8132715101">(81)&nbsp;3271-5101</a>
      </div>
    </div>
  </div>
</div>