<div class="store-module">
  <div class="wrap-img">
    <img class="img-responsive" src="{{ loja.image }}" alt="{{ loja.store }}">
  </div>
  <div>
    <h3>{{ loja.store }}</h3>
    <p>
      {{ loja.address }}<br>
      Fone: <a href="tel:7171717171">(71) 7171-7171</a>
    </p>
    <p>
      Horário de funcionamento da oficina <br>
      <b>Segunda a Sexta <span class="b-primary">7:30h às 18:00h</span></b> <br>
      <b>Sábado <span class="b-primary">8:00h às 12:00h</span></b>
    </p>
    <p>
      Horário de funcionamento da recepção da oficina <br>
      <b><span class="b-primary">Das 7:30h às 18:00h</span></b>
    </p>
  </div>
</div>