<form class="used-filter">
  <fieldset>
    <legend>Marca</legend>
    {% for brand in ['Chevrolet', 'Ford', 'Fiat'] %}
    <div class="checkbox">
      <label for="maker-{{ loop.index }}">
        <input type="checkbox" name="maker-{{ loop.index }}" id="maker-{{ loop.index }}">
        <div class="filter-item-quantity">(10)</div>
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Modelo</legend>
    {% set models = ['fusca', 'chevette', 'uno'] %}
    {% for model in models %}
    <div class="checkbox">
      <label for="model-{{ model }}">
        <input type="checkbox" name="model-{{ model }}" id="model-{{ model }}">
        {{ model }}
      </label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Preço</legend>
    {% set prices = ['0 - 100', '100 - 200', '200 - 1000'] %}
    {% for price in prices %}
    <div class="checkbox">
      <label for="price-{{ price }}">
        <input type="checkbox" name="price-{{ price }}" id="price-{{ price }}">
        R$ {{ price }}
      </label>
    </div>
    {% endfor %}
  </fieldset>
  
  <fieldset>
    <legend>Ano</legend>
    {% set years = [2000, 2001, 2002, 2003, 2004, 2005] %}
    {% for year in years %}
    <div class="checkbox">
      <label for="year-{{ year }}">
        <input type="checkbox" name="year-{{ year }}" id="year-{{ year }}">
        {{ year }}
      </label>
    </div>
    {% endfor %}
  </fieldset>
</form>
