<div id="work-form-module">
  <div class="">
    <div class="work-form row">
      <div class="col-xs-12">
        <h2>
          Envie seu Currículo
        </h2>
      </div>
      <form action="">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="name" id="name" type="text" placeholder="Nome" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="phone" id="phone" type="text" placeholder="Telefone" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="Cargo" id="cargo" type="text" placeholder="Área de Interesse" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="upload" id="upload" type="file" data-icon="false" data-placeholder="Anexe seu cv em pdf ou doc" data-buttonText="Selecione" class="form-control filestyle">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
          <textarea name="message" id="message" cols="30" placeholder="Mensagem" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-3 col-lg-2 pull-right">
          <button class="btn btn-default" type="submit">Enviar <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
      
    </div>
  </div>
</div>