<div id="workshop-form-module">
  <div class="">
    <div class="workshop-form row">
      <div class="col-xs-12">
        <h2>Agende agora o seu serviço</h2>
      </div>
      <form action="">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="nome" id="name" type="text" placeholder="Nome" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="telefone" id="phone" type="text" placeholder="Telefone" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <select name="unidade" id="unidade" class="form-control">
              <option value="">Loja</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <select name="model" id="model" class="form-control">
              <option value="">Modelo</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="ano" id="ano" type="text" placeholder="Ano" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="placa" id="placa" type="text" placeholder="Placa" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="km" id="km" type="text" placeholder="Km" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="data" id="date" type="date" placeholder="Data" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
            <input name="periodo" id="periodo" type="text" placeholder="Período" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <input name="servico" id="servico" type="text" placeholder="Serviço Desejado" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <textarea name="mensagem" id="message" cols="30" rows="5" placeholder="Mensagem" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-3 col-lg-2 pull-right">
          <button class="btn btn-default" type="submit">Agende Agora <i class="fa fa-chevron-right"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>