{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <section class="col-xs-12 col-md-8">
      <div class="title-car col-xs-12 col-md-6 col-lg-7">
        <span>Quanto mais ágil, melhor</span>
        <h1>March</h1>
      </div>
      <div class="car-info col-xs-12 col-md-6 col-lg-5 pull-right">
        <h2>Cores</h2>

        <ul class="new-car-colors list-inline">
          {% for c in carro.color %}
          <li>
            <a data-sync="{% for i in carro.images if i.car_color_id == c.id %}{{ i.image }}{% endfor %}" style="background-color: {{ c.color }};" href="#new-car"></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <img src="{{ carro.images[0].image }}" alt="{{ carro.name }}" id="new-car" class="img-responsive">
      
      <div class="col-xs-12 col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      
      
    </section>
    
    <div class="col-xs-12 col-md-4 pull-right">
      <section>
        {% include 'shared/quote-form.html' %}
      </section>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
      <a href="" class="btn test-drive-btn" role="button">
        Agende aqui <br>
        Seu Test Drive
      </a>
    </div>
    <section class="col-xs-12" id="new-gallery">
      {% include 'shared/gallery-carousel.html' %}
    </section>
    
    <section class="col-xs-12 col-lg-12">
      {% include 'shared/technical-sheet.html' %}
    </section>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'car_detail.css'} %}
{% endblock %}
