{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
{% set img = 'conceptual-ofertas.png' %}
{% set title = '<small>Ofertas Especiais</small> <br> <span class="big">Eurovia</span>' %}

{% include 'shared/offers-structure.html' %}

{% include 'shared/load-css.html' with {'css': 'offers.css'} %}
{% endblock %}