{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>
        Ford Focus Fastback Titanium Plus 2.0 AT<br>
        <span class="year">
          2015/2015
        </span>
      </h1>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="price">
        <small>Preço especial pela Internet</small>
        R$ 50.000,00
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <img src="../src/images/fiat-linea.png" alt="" class="img-responsive">
    </div>
    <div class="col-xs-12 col-md-4 pull-right">
      <section>
        {% include 'shared/quote-form.html' %}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <section class="car-info">
        {% include 'shared/gallery-carousel.html' %}
       
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor ultricies nunc, vel congue urna. Cras nunc nulla, laoreet quis magna sed, venenatis vulputate lorem. Etiam consectetur vehicula justo, vitae elementum lacus cursus a. Aenean risus orci, iaculis eu tempus auctor, porttitor vitae libero. Aliquam et efficitur odio. Fusce faucibus vel sem vel vehicula. Aenean ut ultricies est. Aenean fermentum tortor eget maximus condimentum. Nullam id sagittis dolor, a fringilla tortor.
        </p>
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="#informacoes">Informações gerais</a></li>
          <li><a href="#opcionais">Opcionais</a></li>
        </ul>
        <div class="tab-content">
          <div id="informacoes" class="tab-pane fade in active">
            <dl class="row">
              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>

              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>
            </dl>
          </div>
          <div id="opcionais" class="tab-pane fade">
            <dl class="row">
              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>

              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_car_detail.css'} %}
{% endblock %}
