{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="title-seminovos col-md-3">
      <span>Encontre o seu</span>
      <h1>Seminovo</h1>
      {% include 'shared/used-filter.html' %}
    </div>
    
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-sm-7">
          <h2 class="seach-result">Resultado de busca</h2>
          <div class="find-results">(1-20 de 100 veículos encontrados)</div>
        </div>
        
        <div class="col-sm-5">
          <div class="filter-control">
            <label for="order-by-criteria">Ordenar por:</label>
            <select name="order-by-criteria" id="order-by-criteria">
              <option value="">Menor preço</option>
            </select>
            <i class="fa fa-chevron-down" aria-hidden></i>
          </div>
        </div>
        
        <ul class="used-cars col-xs-12">
          {% set carLink = '#link-carro-usado' %}

          {% for car in 1..5 %}
          <li>
            {% include 'shared/used-car.html' %}
          </li>
          {% endfor %}
        </ul>

        <!--<div class="used-cars col-xs-12">
        {#% include 'shared/pagination.html' %#}
        </div>-->
      </div>
    </div>
  </div>
</div>

{% include 'shared/load-css.html' with {'css': 'used-car-list.css'} %}
{% endblock %}
