@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/interna-style";
@import "base/tabs-3";

#about-structure-module{
  padding: 30px 0;
  
  .conteudo {
    margin-top: 20px;
  }
  
  #our-stores-module{
    border: 1px dashed $gray-light;
    padding: 30px 0;
    h2{
      color: #505050;
      font-size: 1.929em;
      font-weight: 700;
      margin: 0 0 30px 0;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: '';
        height: 2px;
        width: 28px;
        top: -18px;
        position: absolute;
        display: block;
        background-color: $brand-primary;
      }
    }
  }
  
  .store-module{
    img{
      width: 100%;
    }
    h3{
      color: $brand-primary;
      font-size: 1.286em;
      font-weight: 700;
      text-transform: uppercase;
    }
    p{
      text-transform: uppercase;
      height: 80px;
      font-size: 1em;
    }
  }
}