@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/parts-acessories-form";
@import "base/form";
@import "base/interna-style";

#acessories-structure-module{
  padding: 30px 0;
  
  #acessories-info-model{
    p{
      color: #222222;
      font-size: 1em;
      font-weight: 300;
      margin: 20px 0;
    }
  }
  
}

@media (min-width: $screen-sm-min){
}

@media (min-width: $screen-md-min){
}

@media (min-width: $screen-lg-min) {  
}