@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/technical-sheet";

main {
  margin-top: 30px;
}

.highlight-form {
  padding: 25px 15px;
}

.car-info {
  margin: 10px 0 15px;
  h2{
    padding: 0 5px 0 0;
    text-align: left;
    font-size: 0.929em;
    color: #333;
  }
  ul{
    position: relative;
    text-align: left;
  }
}

.title-car span{
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 0 0;
  position: relative;
  text-transform: uppercase;
  &:before{
    background: $brand-primary;
    content: ' ';
    height: 3px;
    position: absolute;
    top: 0;
    width: 25px;
  }
}

h1 {
  color: $brand-primary;
  font-size: 2.95em;
  font-weight: 700;
  margin: 0 0 26px 0;
  text-transform: uppercase;
}

h2 {
  color: $brand-primary;
  font-weight: bold;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

#new-gallery h2{
  border-top: 1px dashed $gray-light;
  margin: 0 0 20px 0;
}

#new-gallery, .especificacoes {
  h2 {
    padding-top: 30px;
  }
}

p {
  color: $gray;
}

#new-car {
  width: 100%;
}

.new-car-colors li{
  padding-left: 0;
  padding-right: 0;
}

.new-car-colors > li a {
  margin: 0 !important;
  display: block;
  border: 2px solid $gray-light;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.test-drive-btn {
  border: 4px solid #fff;
  border-radius: 4px;
  display: block;
  margin-top: 0;
  background-color: $brand-primary;
  line-height: 22px;
  padding: 24px 15px;
  font-size: 17px;
  width: 100%;
  height: 90px;
  text-align: left;
  color: #fff !important;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.32);
}

$arrows-area: 30px;

.slick-arrow {
  margin-top: -10px;

  &:first-child {
    left: -$arrows-area;
  }

  &:last-child {
    right: -$arrows-area;
  }
}

.slick-new-gallery {
  margin: auto $arrows-area;
  
  .slick-slide {
    padding: 0 5px;
  }
  
  i {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .highlight-form {
    //background-color: #fff;
    padding: 30px 30px 0px 30px;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.32);
  }
  
  .car-info {
    h2, ul{
      text-align: right;
    }
  }
  
}

.gallery-modal .modal-dialog {
  width: 65%;
  
  img {
    width: 100%;
    max-height: 100%;
  }
}
