@import "lib/bootstrap-sass/bootstrap/variables";

#cars-list-structure-module{
  .car {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8em;
  padding: 20px;
  h2{
    color: $brand-primary;
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  figure{
    margin: 25px 0;
  }
  
  .btn{
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1px 12px;
    width: 140px;
    i{
      float: right;
      font-size: 11px;
      line-height: 21px;
    }
  }
  
  a:hover, a:focus{
    text-decoration: none;
  }
  
  img {
    margin: 0 auto 12px auto;
    max-width: 100%;
    max-height: 93px;
  }
}


}

@media (min-width: $screen-xs-min){
  #cars-list-structure-module{
    .car{
      text-align: center;
      .btn{
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: $screen-sm-min){
  #cars-list-structure-module{
    .car{
      text-align: left;
    }
  }

}