@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#consortium-structure-module{
  padding: 30px 0;
  h1{
    color: $brand-primary;
  }
  .consortium-form{    
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    textarea{
      height: 92px;
      resize: none;
      width: 100%;
    }
    button{
      margin: 20px 0;
      padding: 15px;
      width: 100%;
      i{
        float: right;
        line-height: 15px;
      }
    }
  }
}