@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/our-stores";
@import "base/form";
@import "base/interna-style";

#contact-structure-module{
  padding: 30px 0;
  h1{
    color: $brand-primary;
  }
  .contact-form{
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    .icon-container i{
      margin-top: 5.5px;
      left: 33px;
    }
    textarea{
      height: 84px;
    }
    button{
      margin: 20px 0;
      padding: 15px;
      width: 100%;
      i{
        float: right;
        line-height: 15px;
      }
    }
  }
  
  #schedule-2-module{
    margin: 20px auto 0 auto;
    .time{    
      h2{
        font-size: 1.7em;
      }
    }
  }  
}

@media (min-width: $screen-xs-min){
  
  #schedule-2-module{
    .time{
      i{
        float: left;
        font-size: 85px;
      }
      h2{
        float: left;
        margin: 15px 0 0 12px;
        width: 300px;
      }
    }
  }
  
}

@media (min-width: $screen-sm-min){
  
  #schedule-2-module{
    .time{
      text-align: center;
      i{
        width: 100%;
      }
      h2{
        margin: 15px 0 0 0;
        width: 100%;
      }
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #schedule-2-module{
    .time{
      text-align: left;
      i{
        font-size: 100px;
        margin: 18px 30px 0;
        width: auto;
      }
      h2{
        margin: 35px 0 0 0;
        width: 270px;
      }
    }
  }
  
}