@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/banner-home";
@import "base/form";
@import "base/car-carousel";
@import "base/schedule-grid";
@import "base/newsletter";
@import "base/highlight";
@import "base/promo-carousel";

#main-carousel {
  margin: 0;
}

.car-carousel {
  // TODO
  padding-bottom: 50px;
  background-color: #fff;
}

#promo-carousel-module {
}

.carousel-inner .item-img {
  background-image: url(../images/banner-1.png);
}

.slick-dots {
  bottom: -50px;
  
  li.slick-active button:before{
    color: $brand-primary;
  }
  
  li button:before{
    color: #bbb;
    font-size: 11px;
  }
}

.highlights-module .high-background{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}