@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual-3";

#offers-structure-module{

  .promo-car-2-module{
    h2{
      color: #000;
      font-size: 2.0em;
      font-weight: 700;
      margin: 0 0 2px 0;
      text-align: center;
      text-transform: uppercase;
    }
    b{
      display: block;
      text-align: center;
    }
    .promo-car{
      border: 1px solid #eee;
      margin: 10px 0 30px;
      padding: 10px 15px;
      &:hover{
        border: 1px solid $brand-primary;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
      img{
        margin: 10px 0 15px;
        width: 100%;
      }
    }
    .promo-info{
      div{
        color: #000;
        overflow: hidden;
        padding: 7px;
      }
      .price{
        color: $brand-primary;
        font-size: 1.6em;
        font-weight: 700;
      }
      span{
        text-transform: uppercase;
        display: block;
        text-align: center;
      }
      
      .btn{
        border-radius: 25px;
        margin: 20px 0;
        padding: 15px;
        text-transform: uppercase;
        width: 100%;
        i{
          float: right;
          line-height: 15px;
        }
      }
    } 
  }
}

@media (min-width: $screen-lg-min){
  #offers-structure-module{
    .promo-car-2-module{
      .promo-car{
        overflow: hidden;
      }
      h2{
        font-size: 1.9em;
      }
      .promo-info{
        div{
          font-size: 1em;
        }
        a{
          font-size: 1em;
          padding: 6px 11px;
        }
      }
    }
  }
}