@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/parts-acessories-form";
@import "base/form";
@import "base/interna-style";

#parts-structure-module{
  padding: 30px 0;
  
  .info-box{
    i{
      height: 32px;
      width: 34px;
    }
  }
  
  form textarea{
    resize: vertical;
    width: 100%;
  }
  
  .parts-schedule-module{
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    margin: 15px 0;
    overflow: hidden;
    padding: 30px 0;
    h3{
      font-weight: 700;
      margin: 0;
    }
    span{
      display: block;
    }
    ul li{
      width: 100%;
    }
    div{
      margin: 15px 0;
    }
  }
}

@media (min-width: $screen-sm-min){
  #parts-structure-module {
    .parts-schedule-module{
      ul li{
        float: left;
        margin: 0 5px;
        width: calc(100% / 2 - 10px);
      }
    }
  }
}

@media (min-width: $screen-md-min){
  
}

@media (min-width: $screen-lg-min) {
  
}