@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/used-filter";
@import "base/used-car";

main {
  margin-top: 30px;
}

.title-seminovos {
  margin: 0 0 30px 0;
  span{
    color: #000;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 15px 0 0 0;
    text-transform: uppercase;
    &:before{
      background: $brand-primary;
      content: ' ';
      height: 3px;
      position: absolute;
      top: 0;
      width: 25px;
    }
  }
}

h1 {
  margin-top: 0;
  color: $brand-primary;
  padding-left: 4px;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  color: $gray-dark;
  font-size: 1.25em;
  margin-top: 8px;
}

.seach-result {
  color: #999;
  display: block;
  font-weight: 700;
  margin: 4px 0 2px 0;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  &:before{
    background: $brand-primary;
    content: ' ';
    height: 3px;
    position: absolute;
    top: 0;
    width: 25px;
  }
}

.used-cars {
  padding-top: 20px;
  
  li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.filter-control {
  color: $gray-light;
  border: 1px solid $gray-light;
  padding: 4px 16px;
  margin: 8px 0;
  
  label {
    margin-right: 18px;
  }
  
  i {
    float: right;
  }
}

.find-results {
  margin-bottom: 12px;
}

#order-by-criteria {
  outline: 0;
  border: 0;
  background-color: transparent;
  
  &, option {
    color: $gray;
  }
}
