@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/form";
@import "base/carousel-detail";
@import "base/tabs-2";

h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 34px;
  margin-bottom: 30px;
  position: relative;
  
  .year {
    font-weight: 400;
    font-size: 1.75em;
    color: #999999;
  }
  
  &::before {
    content: '';
    height: 2px;
    width: 28px;
    top: -12px;
    position: absolute;
    display: block;
    background-color: $brand-primary;
  }
}

h2 {
  color: $brand-primary;
  font-weight: bold;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

.gallery-carousel {
  border-top: 1px dashed $gray;
  border-bottom: 1px dashed $gray;
  padding: 50px 0;
}

.slick-new-gallery {
  margin: auto $arrows-area;

  .slick-slide {
    padding: 0 5px;
  }

  i {
    height: 20px;
    width: 20px;
  }
}

.price {
  margin-top: 34px;
  margin-bottom: 30px;
  color: $brand-primary;
  font-weight: 700;
  font-size: 1.75em;
  position: relative;
  
  small {
    font-size: 0.5em;
    color: $gray-darker;
    text-transform: uppercase;
    display: block;
  }

  &::before {
    content: '';
    height: 2px;
    width: 28px;
    top: -18px;
    position: absolute;
    display: block;
    background-color: $brand-primary;
  }
}

p {
  margin: 50px 0;
  line-height: 28px;
}
