@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#workshop-structure-module{
  padding: 30px 0;
  textarea{
    height: 84px;
  }
  button{
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    i{
      float: right;
      line-height: 15px;
    }
  }
}