@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/our-stores";
@import "base/form";
@import "base/interna-style";

#work-structure-module{
  padding: 30px 0;
  h1{
    color: $brand-primary;
  }
  #work-form-module{
  .work-form{
    textarea{
      height: 84px;
    }
    
    .bootstrap-filestyle{
      .btn{
        font-size: 17px;
      }
      label{
        color: #fff;
        span{
          font-size: 13px;
        }
      }
    }
    
    input[type="file"]{
      display: none;
    }
    
    button{
      margin: 20px 0;
      padding: 15px;
      width: 100%;
      i{
        float: right;
        line-height: 15px;
      }
    }
  }
}
  
}